.title {
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    color: yellow;
    font-family: 'Asap', sans-serif;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.line {
    border: 1px solid white;
    width: 100%;
}

.songCard {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px;
}

.albumCover {
    width: 100%;
}

.artistName {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.songName {
    font-size: larger;
    color: hotpink;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.releaseDate {
    font-size: small;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    color: white;
}

#shortcutCard {
    display: flex;
    flex-wrap: wrap;
}

#activateShortcut {
    align-self: flex-end;
    padding-left: 5px;
}

