.title {
    text-align: center;
    color: yellow;
}

body {
    background-color: gray;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

.line {
    border: 1px solid white;
    width: 100%;
}

.songCard {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    padding: 20px;
}

img {
    width: 100%;
}

.songName {
    font-size: larger;
    color: crimson;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.artistName {
    color: purple;
    font-size: large;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

