.title {
    text-align: center;
    color: #116466;
    height: 25%;
}

#quickfindLabel {
    padding-right: 15px;
}

body {
    
    background: center / contain repeat url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg);
    color: #ad5eed;
    font-family: 'Asap', sans-serif;
}

#searchResultsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.line {
    border: 1px solid white;
    width: 100%;
}

.songCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
}

.albumCover {
    padding-left: 12.5%;
    width: 75%;
}

.audioPreview {
    width: 100%;
}

.artistName {

    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.songName {
    font-size: larger;
    color: rgb(188, 114, 188);
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.releaseDate {
    font-size: small;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    color: #D1E8E2;
}

#input {
    padding-top: 15px;
}

#quickfindDiv {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 15px;
}

